In [3]:
import pandas as pd
import seaborn as sbn
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
from sklearn import datasets, linear_model

data_path = '/Users/ajith/bigdata/data/GlobalLandTemperatures/'

city_temp = pd.read_csv(data_path + 'GlobalLandTemperaturesByCity.csv', sep = ',', parse_dates = True)



regr = linear_model.LinearRegression()

#Function to get the city's name and plot its temperature for all the months across all years

def par_city_temp(city, month):
    par_temp = city_temp[city_temp['City']== city]
    par_temp['dt'] = pd.to_datetime(par_temp['dt'])
    par_temp_mon = par_temp[par_temp['dt'].dt.month == month]
    nonull_temp = par_temp_mon[pd.notnull(par_temp_mon['AverageTemperature'])]
    regr.fit(nonull_temp['dt'].dt.year.values.reshape(-1,1), nonull_temp['AverageTemperature'].values.reshape(-1,1))
    plt.plot(par_temp_mon['dt'].dt.year, par_temp_mon['AverageTemperature'],'.')
    #    plt.plot(nonull_temp['dt'].dt.year.values.reshape(-1,1), regr.predict(nonull_temp['dt'].dt.year.values.reshape(-1,1)), lw = 3.)
    low_year = np.min(nonull_temp['dt'].dt.year.values)
    plt.plot(np.arange(low_year,2051).reshape(-1,1), regr.predict(np.arange(low_year,2051).reshape(-1,1)), lw = 3.)
    return par_temp_mon

In [4]:
par_city_temp('Madras',2)

/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/scipy/linalg/basic.py:884: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
4498089,1796-02-01 00:00:00,25.579,1.423,Madras,India,13.66N,80.09E
4498101,1797-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498113,1798-02-01 00:00:00,26.413,2.062,Madras,India,13.66N,80.09E
4498125,1799-02-01 00:00:00,24.896,2.930,Madras,India,13.66N,80.09E
4498137,1800-02-01 00:00:00,25.914,4.435,Madras,India,13.66N,80.09E
4498149,1801-02-01 00:00:00,25.271,0.908,Madras,India,13.66N,80.09E
4498161,1802-02-01 00:00:00,26.290,1.745,Madras,India,13.66N,80.09E
4498173,1803-02-01 00:00:00,25.259,3.549,Madras,India,13.66N,80.09E
4498185,1804-02-01 00:00:00,26.530,3.090,Madras,India,13.66N,80.09E
4498197,1805-02-01 00:00:00,25.655,2.478,Madras,India,13.66N,80.09E
4498209,1806-02-01 00:00:00,24.997,2.657,Madras,India,13.66N,80.09E
4498221,1807-02-01 00:00:00,24.006,4.504,Madras,India,13.66N,80.09E
4498233,1808-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498245,1809-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498257,1810-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498269,1811-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498281,1812-02-01 00:00:00,NaN,NaN,Madras,India,13.66N,80.09E
4498293,1813-02-01 00:00:00,25.419,1.470,Madras,India,13.66N,80.09E
4498305,1814-02-01 00:00:00,24.786,0.868,Madras,India,13.66N,80.09E
4498317,1815-02-01 00:00:00,25.567,5.835,Madras,India,13.66N,80.09E
4498329,1816-02-01 00:00:00,22.860,2.323,Madras,India,13.66N,80.09E
4498341,1817-02-01 00:00:00,24.611,3.863,Madras,India,13.66N,80.09E
4498353,1818-02-01 00:00:00,25.185,3.108,Madras,India,13.66N,80.09E
4498365,1819-02-01 00:00:00,23.729,3.745,Madras,India,13.66N,80.09E
4498377,1820-02-01 00:00:00,24.527,1.170,Madras,India,13.66N,80.09E
4498389,1821-02-01 00:00:00,26.084,3.854,Madras,India,13.66N,80.09E
4498401,1822-02-01 00:00:00,26.515,2.822,Madras,India,13.66N,80.09E
4498413,1823-02-01 00:00:00,26.064,2.998,Madras,India,13.66N,80.09E
4498425,1824-02-01 00:00:00,26.198,3.201,Madras,India,13.66N,80.09E
4498437,1825-02-01 00:00:00,26.147,1.710,Madras,India,13.66N,80.09E
...,...,...,...,...,...,...,...
4500345,1984-02-01,25.671,0.339,Madras,India,13.66N,80.09E
4500357,1985-02-01,26.516,0.240,Madras,India,13.66N,80.09E
4500369,1986-02-01,25.986,0.349,Madras,India,13.66N,80.09E
4500381,1987-02-01,25.548,0.173,Madras,India,13.66N,80.09E
4500393,1988-02-01,27.116,0.276,Madras,India,13.66N,80.09E
4500405,1989-02-01,25.580,0.269,Madras,India,13.66N,80.09E
4500417,1990-02-01,27.183,0.765,Madras,India,13.66N,80.09E
4500429,1991-02-01,26.601,0.120,Madras,India,13.66N,80.09E
4500441,1992-02-01,26.450,0.205,Madras,India,13.66N,80.09E
4500453,1993-02-01,25.833,0.586,Madras,India,13.66N,80.09E
4500465,1994-02-01,26.350,0.285,Madras,India,13.66N,80.09E
4500477,1995-02-01,26.428,0.213,Madras,India,13.66N,80.09E
4500489,1996-02-01,26.241,0.285,Madras,India,13.66N,80.09E
4500501,1997-02-01,26.075,0.384,Madras,India,13.66N,80.09E
4500513,1998-02-01,27.661,0.413,Madras,India,13.66N,80.09E
4500525,1999-02-01,26.647,0.247,Madras,India,13.66N,80.09E
4500537,2000-02-01,26.705,0.177,Madras,India,13.66N,80.09E
4500549,2001-02-01,26.821,0.156,Madras,India,13.66N,80.09E
4500561,2002-02-01,26.126,0.255,Madras,India,13.66N,80.09E
4500573,2003-02-01,27.134,0.152,Madras,India,13.66N,80.09E
4500585,2004-02-01,26.065,0.495,Madras,India,13.66N,80.09E
4500597,2005-02-01,26.828,0.175,Madras,India,13.66N,80.09E
4500609,2006-02-01,26.069,0.297,Madras,India,13.66N,80.09E
4500621,2007-02-01,26.388,0.353,Madras,India,13.66N,80.09E
4500633,2008-02-01,26.697,0.267,Madras,India,13.66N,80.09E
4500645,2009-02-01,26.988,0.409,Madras,India,13.66N,80.09E
4500657,2010-02-01,26.685,0.304,Madras,India,13.66N,80.09E
4500669,2011-02-01,26.006,0.443,Madras,India,13.66N,80.09E
4500681,2012-02-01,26.791,0.455,Madras,India,13.66N,80.09E
4500693,2013-02-01,27.093,0.691,Madras,India,13.66N,80.09E